<style>
.like {
    cursor: pointer;
}
</style>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "AWS Community Day CZ in Prague",
      "startDate": "2025-04-29T08:30",
      "endDate": "2025-04-29T18:00",
      "location": {
        "@type": "Place",
        "name": "O2 Universum",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Ceskomoravska 2345/17",
          "addressLocality": "Praha 9-Liben",
          "postalCode": "19000",
          "addressRegion": "CZ",
          "addressCountry": "cz"
        }
      },
      "image": [
        "https://media.licdn.com/dms/image/v2/D4E22AQH6xQZfNrOwkQ/feedshare-shrink_2048_1536/B4EZXXzNdBG0As-/0/1743082281796?e=1746057600&v=beta&t=U7gZJnbnWVeIW9E7RGSyjy7TaNLcnhdpqBNBqhc5yvI",
        "https://media.licdn.com/dms/image/sync/v2/D4E27AQGDPOhfWAuMiQ/articleshare-shrink_800/articleshare-shrink_800/0/1737023496217?e=1743775200&v=beta&t=4Mwq46PkaZHk0vbL9CmHNzya-MzR6UIePl8ssfSvNG0",
        "https://media.licdn.com/dms/image/v2/D4E22AQGhfryLqYM91Q/feedshare-shrink_800/B4EZU0GBfkHcAg-/0/1740335751617?e=1746057600&v=beta&t=sL-IbkBUbG5iUlpHcJNacc906iQITQVtfvK0EBkK58o"
       ],
      "description": "Join us for technical talks with AWS experts from whole europe including famous Jeff Barr from AWS",
      "offers": {
        "@type": "Offer",
        "url": "https://www.awscommunityday.cz",
        "price": "30",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "validFrom": "2024-10-20T16:00"
      },
      "performer": {
        "@type": "PerformingGroup",
        "name": "AWS Community, AWS Heroes and Jeff Barr"
      }
    }
    </script>