<style>
.like {
    cursor: pointer;
}
</style>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "AWS Community Day CZ in Prague",
      "startDate": "2025-04-29T08:30",
      "endDate": "2025-04-29T18:00",
      "location": {
        "@type": "Place",
        "name": "O2 Universum",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Ceskomoravska 2345/17",
          "addressLocality": "Praha 9-Liben",
          "postalCode": "19000",
          "addressRegion": "CZ",
          "addressCountry": "cz"
        }
      },
      "image": [
        "https://example.com/photos/1x1/photo.jpg",
        "https://example.com/photos/4x3/photo.jpg",
        "https://example.com/photos/16x9/photo.jpg"
       ],
      "description": "Join us for technical talks with AWS experts from whole europe including famous Jeff Barr from AWS",
      "offers": {
        "@type": "Offer",
        "url": "https://www.awscommunityday.cz",
        "price": "30",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "validFrom": "2024-10-20T16:00"
      },
      "performer": {
        "@type": "PerformingGroup",
        "name": "AWS Community, AWS Heroes and Jeff Barr"
      }
    }
    </script>